<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
    <link href='https://fonts.googleapis.com/css?family=Poppins' rel='stylesheet'>
    <link rel="stylesheet" href="{{url_for('static', filename='css/stylesa&s.css')}}"/>
</head>
<body>
    <div class="top-banner">
        <h1>Dawson</h1>
        <div class="links">
            <a href="index.html">Home</a>
            <a href="about.html">About</a>
            <a href="schedule.html">Schedule</a>
        </div>
    </div>
    <div class = "atitle">
        <h2>We pay attention so you don't have to</h2>
    </div>
    <div class = "dogmusic">
        <img src="{{url_for('static', filename='css/doggifmusic.gif')}}" class = "dog2"/>        
    </div>
    

    <section class="contact" id="target-sect2">
        <h2>Contact Us</h2>
        <div style="display: flex; justify-content: space-around;">
          <div class="conbox">
            <div class="textc"></div>
          </div>
          <div class="conbox">
            <div class="textc"></div>
          </div>
          </div>
        </div>
    </section>
</body>
</html>