<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href='https://fonts.googleapis.com/css?family=Poppins' rel='stylesheet'>
    <link rel="stylesheet" href="{{url_for('static', filename='css/stylesa&s.css')}}"/>
</head>
<body class = "schedbody">
    
    <div class="top-banner">
        <h1 class = "schedtit">Dawson</h1>
        <div class="links">
            <a href="index.html">Home</a>
            <a href="about.html">About</a>
            <a href="schedule.html">Schedule</a>
        </div>
    </div>
    <div class = "featuretitle"><h2>Feature coming soon...</h2></div>
    <div class = "dogmusic">
        <img src="{{url_for('static', filename='css/raindoggif.gif')}}" class = "dog2"/>        
    </div>

</body>
</html>